$color-border: rgba(255, 255, 255, 0.801);
$second-color-border: rgba(255, 255, 255, 0.755);
$second-font-color: rgba(255, 255, 255, 0.755);
$font-gray: rgba(255, 255, 255, 0.47);
$color-red-border: rgba(213, 139, 139, 0.9);