@import "../../styles/colors.scss";
@import "../../styles/animations.scss";

.container {
  position: fixed;
  top: 10vh;
  // 350px is half of table size, 40px space between elements
  left: calc(50vw + 350px + 40px);
  width: 200px;
  height: max-content;
  border: 1px solid $color-border;
  margin-left: 15px;
  padding: 0 10px;
}

.header {
  border-bottom: 1px solid $color-border;
  padding: 3px 5px;
  height: 35px;
  font-size: 1.6em;
  color: $second-color-border;
  text-align: center;
}

.row {
  margin: 10px 10px 15px 10px;
  width: 180px;

  h2 {
    color: $second-font-color;
    font-size: 1.2em;
    margin-bottom: 3px;
  }
}

.btnContainer {
  display: flex;
  margin: 1px 10px 10px 10px;
}

.btn {
  background: transparent;
  border: 1px solid $second-color-border;
  width: 100%;
  height: 24px;
  color: $second-font-color;
  text-transform: uppercase;
  &:nth-of-type(1) {
    margin-right: 10px;
  }
}

.input {
  padding: 4px 10px;
  width: 158px;
  height: 18px;
  font-size: 1em;
  height: calc(100% - 10px);
  border: 1px solid $second-color-border;
  background-color: transparent;
  color: $second-font-color;
  &::placeholder {
    color: $font-gray;
  }
}

.errInput {
  @extend %errInput;
}

@media screen and (max-width: 1280px) {
  .container {
    left: unset;
    margin-left: calc(15vw + 700px + 30px);
  }
}