@import "../../styles/table.scss";
@import '../../styles/colors.scss';

.container {
  height: 40px;
}

.row {
  border-bottom: 1px solid $color-border;
  height: 35px;
  th {
    @extend %rowEl;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.755);
  }
}


@media screen and (max-width: 500px) {
  .row {
    th {
      font-size: 1em;
    }
  }
}


@media screen and (max-width: 400px) {
  .row {
    th {
      font-size: 0.8em;
    }
  }
}
