@import "../../styles/table.scss";

.container {
  height: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.641);
  td {
    @extend %rowEl;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.8);
  }
}

@media screen and (max-width: 500px) {
  .container {
    td {
      font-size: 0.8em;
    }
  }
}

@media screen and (max-width: 400px) {
  .row {
    th {
      font-size: 0.6em;
    }
  }
}
