.container {
  width: 700px;
  border-collapse: collapse;
  border: 1px solid #ffffff9c;
  margin-left: auto;
}

@media screen and (max-width: 960px) {
  .container {
    margin: 0;
    width: 100%;
  }
}