.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 3fr 1fr;
  gap: 0px 15px;
  padding: 10vh 0;
}

.fixedBackround {
  position: fixed;
  background: linear-gradient(to bottom, #4775f1, #fa71cd);
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  z-index: -1;
}

@media screen and (max-width: 960px) {
  .container {
    display: unset;
    gap: unset;
    padding: 0;
    width: 100vw;
  }
}
